/* General page styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    overflow: hidden;
}

/* Container for centering content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    flex-direction: column;
}

/* Style for animated "Arconnect" text */
#animated-word a {
    font-weight: bold;
    font-size: 60px;
    background: linear-gradient(90deg, white, blue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: textAnimation 3s ease-in-out infinite;
    text-decoration: none;
}

/* Powered by Ebelizm text at the bottom left */
.powered-by {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.powered-by a {
    color: #00BFFF;
    text-decoration: none;
}

/* Animation for the text */
@keyframes textAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
